# Node Environment [ local, debug, development, production ]
NODE_ENV=local

# Nuxt Telemetry
NUXT_TELEMETRY_DISABLED=1

# Better Auth
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
BETTER_AUTH_SECRET=a-random-password-with-at-least-32-characters

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

## AI
## https://ai-sdk.dev/providers/ai-sdk-providers/google-generative-ai#provider-instance
## https://ai-sdk.dev/cookbook/node/mcp-tools
## https://github.com/mcp/io.github.github/github-mcp-server
OPENAI_API_KEY=YOUR-OPENAI-API-KEY
