# Node Environment [ local, debug, development, production ]
NODE_ENV=development

# Nuxt Public
## Site (nuxt-llms)
NUXT_PUBLIC_SITE_URL=https://www.domain.com
NUXT_PUBLIC_SITE_NAME=Sonuxt & Tailwind
NUXT_PUBLIC_SITE_DESCRIPTION=A NuxtUI and TailwindCSS Starter Template.
## GSuite
NUXT_PUBLIC_GSUITE_RECAPTCHA_KEY=
NUXT_PUBLIC_GSUITE_ANALYTICS_KEY=
NUXT_PUBLIC_GSUITE_ADWORDS_KEY=

# Nuxt Private
## Telemetry
NUXT_TELEMETRY_DISABLED=1
## Dev Server
NUXT_DEVSERVER_HOST=local.domain.com
NUXT_DEVSERVER_PORT=8080
NUXT_DEVSERVER_HTTPS=0
## Session
NUXT_SESSION_NAME=sonuxt-and-tailwind-session
NUXT_SESSION_PASSWORD=a-random-password-with-at-least-32-characters
## GSuite
NUXT_GSUITE_RECAPTCHA_SECRET=
NUXT_GSUITE_ANALYTICS_SECRET=
NUXT_GSUITE_ADWORDS_SECRET=
## AI
## https://ai-sdk.dev/providers/ai-sdk-providers/google-generative-ai#provider-instance
## https://aistudio.google.com/api-keys
## https://ai-sdk.dev/cookbook/node/mcp-tools
## https://github.com/mcp/io.github.github/github-mcp-server
GOOGLE_GENERATIVE_AI_API_KEY=

# Nuxt-GSuite
GSUITE_RECAPTCHA_API_KEY=
GSUITE_RECAPTCHA_API_SECRET=
GSUITE_ANALYTICS_TRACKING_CODE=
