@theme static {
  --font-sans: 'IBM Plex Sans', 'PT Sans', sans-serif;
  --font-serif: 'IBM Plex Serif', 'PT Serif', serif;
  --font-mono: 'IBM Plex Mono', 'PT Mono', monospace;
  --font-display: 'IBM Plex Sans Condensed', 'PT Sans Narrow', sans-serif;
}
