@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../../content/**/*";

/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
/* https://ui.nuxt.com/docs/getting-started/theme/css-variables */
@theme static {
  --spacing: 0.25rem;

  --font-sans: 'Roboto Sans', 'PT Sans', sans-serif;
  --font-serif: 'Roboto Serif', 'PT Serif', serif;
  --font-mono: 'Roboto Mono', 'PT Mono', monospace;
  --font-display: 'Roboto Condensed', 'PT Sans Narrow', sans-serif;
}

:root {
  --ui-radius: 0.25rem;
  --ui-container: 90rem;
  --ui-header-height: --spacing(16);
}

@import './colors';
@import './themes';
