@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@source "../../../content/**/*";

/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
/* https://ui.nuxt.com/docs/getting-started/theme/css-variables */
@theme static {
  --spacing: 0.25rem;
}

@layer theme {
  :host,
  :root {
    --ui-radius: 0.25rem;
    --ui-container: 90rem;
    --ui-header-height: --spacing(16);
  }
}

@import './fonts.css';
@import './colors.css';
@import './themes.css';
